<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %> 
<body>
    <%- include('partials/header') %>    <div class="container">
        <section class="principal">
          <div class="row">
            <div class="col-12 titulo">
              <h2><%= title %> </h2>
            </div>
            <div class="contenido">
                <h2>Aqui va el contenido del producto</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, id iusto, laboriosam unde temporibus ipsa mollitia ab molestias dolore provident hic placeat nemo sunt asperiores sequi ipsum magni! Est, a!</p>
            </div>
            
          </div>
        </section>
      </div>

    <%- include('partials/footer') %> 

</body>
</html>