<footer class="container-fluid">
    <div class="row footer">
      <!--contiene pago con tarjeta-->
      <div class="col-12 col-lg-4">
        <article>
          <i class="fas fa-credit-card"></i>
          <h4>Pagá con tarjeta o en efectivo</h4>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </article>
      </div>
      <!--contiene envio gratis-->
      <div class="col-12 col-lg-4">
        <article>
          <i class="fas fa-gift"></i>
          <h4>Envío gratis desde $ 1.999</h4>
          <p>
            Solo por estar registrado en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </article>
      </div>
        <!--contiene seguridad-->
        <div class="col-12 col-lg-4">
          <article>
              <i class="fas fa-user-shield "></i>
              <h4>Seguridad, de principio a fin
              </h4>
              <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.
              </p>
          </article>
      </div>
       <!--contiene copyright-->
       <div class="col-12">
        <p class="copyright">Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
    </div>
    </div>
  </footer>

  <!--scripts de bootstrap-->
  <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js "
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj "
    crossorigin="anonymous "
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js "
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo "
    crossorigin="anonymous "
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js "
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI "
    crossorigin="anonymous "
  ></script>