/*-- HEADER --*/

header{
    background-color: var(--color-amarillo);
    padding: 20px;
}

header .logo{
    padding: 0;
}

header form{
    position: relative;
    display: flex;
    align-items: center;
    font-size: 0.8rem;

}
header form input{
    border: solid 1px var(--color-grisClaro);
    display: block;
    width: 100%;
    padding: 7px 35px 7px 7px;
    border-radius: 5px;
    height: 40px;
    font-size: 1.5em;
    font-family: inherit;
  }

header form input:focus,
form button:focus {
    outline: none;
}

header input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

header form button{
    position: absolute;
    right: 2px;
    height: 60%;
    background-color: white;
    border: none;
    border-left: solid 1px var(--color-grisClaro);
    color: var(--color-grisOscuro);
    cursor: pointer;
}
header .cuotas{
    margin: 20px 0;
    text-align: center;
}

header nav{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header nav button.burger{
    background-color: var(--color-azul);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
}

header .avatar{
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}
/* --- AJUSTES HOME - VERSION PARA TABLET (768px) --- */

@media(min-width:768px){

    header .cuotas{
        margin: 0;
        text-align: right;
    }

    header ul li{
        padding-right: 12px;
        margin-top:10px;
    }

    header ul.usuario li:last-child{
        padding-right: 0;
    }
}
