@import "style.css";

/*-- BANNER --*/

.banner img{
    width: 100%;
    display: none;
}

/*-- PRODUCTO --*/

.principal .contenido figure img{
    width: 90%;
}

.principal article{
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid var(--color-grisClaro);
    padding: 20px;
    position: relative;
    height: 150px;
}

.principal article h2{
    display: flex;
    align-items: center;
}

.principal article span{
    color: var(--color-verde);
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.principal article i {
    color: var(--color-verde);
    background-color: white;
    border: 1px solid var(--color-verde);
    padding: 10px;
    border-radius: 50%;
    font-size: 24px;
    position: absolute;
    top: -22px;
    right: 20px;
}

/* --- AJUSTES HOME - VERSION PARA TABLET (768px) --- */

@media(min-width:768px){

    .banner img{
        display: block;
    }
}

/* --- AJUSTES HOME - VERSION PARA ESCRITORIO (1024px) --- */

@media(min-width:1024px){
    .principal article h2{
       font-size: 1.3rem;
    }
    .principal article i {
        
        font-size: 20px;
    }
}