@import "style.css";
.container .perfilUsuario a:hover {
    background-color: var(--color-grisOscuro);
    color:white;
}

.perfilUsuario .contenido {
    border: 1px solid var(--color-grisClaro);
}

.perfilUsuario .contenido figure img{
    width: 90%;
}

.perfilUsuario .datos {
    margin-top: 30px;
}

.perfilUsuario .comentarios {
    margin-top: 30px;
}